{% extends 'layout.twig' %}

{% block body %}

<div class="timeline-month">
	<span>February</span>
</div>

<div class="row">
	<div class="six columns fixture">
		<div class="date">25/02 - 20:00</div>
		<div class="teams">
			<div class="team">
				<div class="crest">
					<img src="/images/crests/melbourn.png"/>
				</div>
				<div class="name">Melbourn</div>
			</div>
			<div class="score">3 : 1</div>
			<div class="team">
				<div class="crest">
					<img src="/images/crests/carrigaline.jpg"/>
				</div>
				<div class="name">Carrigaline</div>
			</div>
		</div>
		<div class="venue">Bishopstown GAA</div>
	</div>

	<div class="six columns fixture">
		<div class="date">25/02 - 20:00</div>
		<div class="teams">
			<div class="team">
				<div class="crest">
					<img src="/images/crests/garryduff.jpg"/>
				</div>
				<div class="name">Garryduff</div>
			</div>
			<div class="score">2 : 2</div>
			<div class="team">
				<div class="crest">
					<img src="/images/crests/nagle.jpg"/>
				</div>
				<div class="name">Nagle Tea Time</div>
			</div>
		</div>
		<div class="venue">Garryduff</div>
	</div>
</div>


<div class="timeline-month">
	<span>March</span>
</div>

<div class="row">
	<div class="six columns fixture">
		<div class="date">25/02 - 20:00</div>
		<div class="teams">
			<div class="team">
				<div class="crest">
					<img src="/images/crests/carrigaline.jpg"/>
				</div>
				<div class="name">Carrigaline</div>
			</div>
			<div class="score">V</div>
			<div class="team">
				<div class="crest">
					<img src="/images/crests/melbourn.png"/>
				</div>
				<div class="name">Melbourn</div>
			</div>
		</div>
		<div class="venue">Carrigaline</div>
	</div>
</div>

{% endblock %}