<!DOCTYPE html>
<html>
  <head>
	<title>{{ title }}</title>
		<link rel='stylesheet' href='/stylesheets/normalize.css' />
		<link rel='stylesheet' href='/stylesheets/skeleton.css' />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel='stylesheet' href='/stylesheets/app.css' />
		<script src="https://use.fontawesome.com/4de3fd7a3e.js"></script>
  </head>
  <body>
  	{% include 'nav.twig' %}
  	<div class="content">
			{% block body %}{% endblock %}
  	</div>
  </body>
</html>
