<nav class="top-nav u-cf u-full-width">
	<div class="icon"></div>
	<ul class="u-pull-left">
		<li>
			<a href="/league">Leagues</a>
		</li>
		<li>
			<a href="/fixture">Fixtures</a>
		</li>
		<li>
			<a href="/result">Results</a>
		</li>
		<li>
			<a href="/club">Clubs</a>
		</li>
	</ul>
	<div class="search u-pull-right">
		<input type="text"/>
		<i class="fa fa-search"></i>
	</div>
</nav>